.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    margin-left: 250px;
    background-color: #f4f6f8;
    padding: 30px;
}

@media (max-width: 768px) {
    .content {
        margin-left: 60px;
    }
}